In [1]:
import pandas as pd
import numpy as np
orders = pd.read_csv("../data/olist_orders_dataset.csv")
customers = pd.read_csv("../data/olist_customers_dataset.csv")

In [2]:
# Asegurar que la fecha esté en formato datetime
orders["order_purchase_timestamp"] = pd.to_datetime(orders["order_purchase_timestamp"])

# Última compra por cliente
last_purchase = orders.groupby("customer_id")["order_purchase_timestamp"].max().reset_index()
last_purchase.columns = ["customer_id", "last_purchase_date"]

last_purchase.head()

                        customer_id  last_purchase_date
0  00012a2ce6f8dcda20d059ce98491703 2017-11-14 16:08:26
1  000161a058600d5901f007fab4c27140 2017-07-16 09:40:32
2  0001fd6190edaaf884bcaf3d49edf079 2017-02-28 11:06:43
3  0002414f95344307404f0ace7a26f1d5 2017-08-16 13:09:20
4  000379cdec625522490c315e70c7a9fb 2018-04-02 13:42:17

In [3]:
max_date = orders["order_purchase_timestamp"].max()
max_date

Timestamp('2018-10-17 17:30:18')

In [4]:
last_purchase["days_since_last_purchase"] = (
    max_date - last_purchase["last_purchase_date"]
).dt.days

last_purchase.head()

,customer_id,last_purchase_date,days_since_last_purchase
0,00012a2ce6f8dcda20d059ce98491703,2017-11-14 16:08:26,337
1,000161a058600d5901f007fab4c27140,2017-07-16 09:40:32,458
2,0001fd6190edaaf884bcaf3d49edf079,2017-02-28 11:06:43,596
3,0002414f95344307404f0ace7a26f1d5,2017-08-16 13:09:20,427
4,000379cdec625522490c315e70c7a9fb,2018-04-02 13:42:17,198

In [5]:
# Cliente es "desertor" si pasaron más de 180 días desde su última compra
last_purchase["churn"] = (last_purchase["days_since_last_purchase"] > 180).astype(int)

last_purchase.head()

,customer_id,last_purchase_date,days_since_last_purchase,churn
0,00012a2ce6f8dcda20d059ce98491703,2017-11-14 16:08:26,337,1
1,000161a058600d5901f007fab4c27140,2017-07-16 09:40:32,458,1
2,0001fd6190edaaf884bcaf3d49edf079,2017-02-28 11:06:43,596,1
3,0002414f95344307404f0ace7a26f1d5,2017-08-16 13:09:20,427,1
4,000379cdec625522490c315e70c7a9fb,2018-04-02 13:42:17,198,1

In [6]:
customers_churn = customers.merge(last_purchase, on="customer_id", how="left")

customers_churn.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,last_purchase_date,days_since_last_purchase,churn
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,2017-05-16 15:05:35,519,1
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,2018-01-12 20:48:24,277,1
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,2018-05-19 16:07:45,151,0
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,2018-03-13 16:06:38,218,1
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,2018-07-29 09:51:30,80,0

In [ ]:
order_items = pd.read_csv("../data/olist_order_items_dataset.csv")
reviews = pd.read_csv("../data/olist_order_reviews_dataset.csv")
payments = pd.read_csv("../data/olist_order_payments_dataset.csv")